---
import Formulario from "../components/formulario.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title ="Formulario de Trabajo">
    
    <main>
        <h1>Contáctanos</h1>
        <p>Por favor, usa el siguiente formulario para enviarnos un mensaje.</p>
        <Formulario />
    </main>
    
</Layout>